Flow4.json
[{"id":"9fe45d74.431f9","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d47e867d.a651f8","type":"inject","z":"9fe45d74.431f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Stueck\":4}","payloadType":"json","x":230,"y":180,"wires":[["70b0cb14.be4e14"]]},{"id":"70b0cb14.be4e14","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl;  \nvar stueck = msg.payload.Stueck;             \nvar zeit = new Date();                            //Timestamp erzeugen\nzeit = zeit.toISOString().slice(0, 19).replace('T', ' ');  //Umwandlung in das passende Format\nzeit = \"\\'\" + zeit.toString() + \"\\'\";                      //Timestamp muss in Hochkommata  \nsqlBefehl = \"INSERT INTO Stueckzahl ( Stueck, Zeit) VALUES ( \"+ stueck +\", \"+ zeit +\")\";\nmsg.payload = sqlBefehl;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":180,"wires":[["6bfb24ad.96d5cc"]]},{"id":"6bfb24ad.96d5cc","type":"MSSQL","z":"9fe45d74.431f9","mssqlCN":"456f11a2.bdfbf","name":"mstUmweltdaten","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":770,"y":180,"wires":[["1a14473e.8d4d09"]]},{"id":"1a14473e.8d4d09","type":"debug","z":"9fe45d74.431f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":180,"wires":[]},{"id":"44b20828.16d768","type":"mqtt in","z":"9fe45d74.431f9","name":"","topic":"ImTief24/Marcel","qos":"2","datatype":"auto","broker":"c63f4f6e.24d6f","x":230,"y":300,"wires":[["c313261e.730918"]]},{"id":"c313261e.730918","type":"json","z":"9fe45d74.431f9","name":"","property":"payload","action":"","pretty":false,"x":440,"y":300,"wires":[[]]},{"id":"91263102.cd78f","type":"inject","z":"9fe45d74.431f9","name":"Anzahl 4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":420,"wires":[["7b7f2f.727e50d"]]},{"id":"7b7f2f.727e50d","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT COUNT(Stueck) FROM StueckZahl WHERE Stueck =4\";\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["6bfb24ad.96d5cc"]]},{"id":"bb8357d.fe83aa8","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT COUNT(Stueck) FROM StueckZahl WHERE Stueck =3\";\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["6bfb24ad.96d5cc"]]},{"id":"faf68aae.efeca8","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT COUNT(Stueck) FROM StueckZahl WHERE Stueck =2\";\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":580,"wires":[["6bfb24ad.96d5cc"]]},{"id":"8f84a8fe.055ab8","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT COUNT(Stueck) FROM StueckZahl WHERE Stueck =1\";\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["6bfb24ad.96d5cc"]]},{"id":"b9a32199.e8cf8","type":"inject","z":"9fe45d74.431f9","name":"Anzahl 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":500,"wires":[["bb8357d.fe83aa8"]]},{"id":"4252b6e9.a7f6a8","type":"inject","z":"9fe45d74.431f9","name":"Anzahl 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":580,"wires":[["faf68aae.efeca8"]]},{"id":"c76c7f0.01e418","type":"inject","z":"9fe45d74.431f9","name":"Anzahl 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":640,"wires":[["8f84a8fe.055ab8"]]},{"id":"b4c0659d.018e38","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT COUNT(Stueck) FROM StueckZahl WHERE Stueck =0\";\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":720,"wires":[["6bfb24ad.96d5cc"]]},{"id":"75a12dd3.d8fe84","type":"inject","z":"9fe45d74.431f9","name":"Anzahl 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":720,"wires":[["b4c0659d.018e38"]]},{"id":"f951b748.053318","type":"inject","z":"9fe45d74.431f9","name":"Durchschnitt Stueck","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":820,"wires":[["aabea890.e06e38"]]},{"id":"aabea890.e06e38","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT AVG(Stueck) FROM StueckZahl WHERE NOT Stueck=8888\" ;\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":820,"wires":[["6bfb24ad.96d5cc"]]},{"id":"c2059620.471828","type":"inject","z":"9fe45d74.431f9","name":"Wann voll?","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":900,"wires":[["2ccf846.c16827c"]]},{"id":"2ccf846.c16827c","type":"function","z":"9fe45d74.431f9","name":"","func":"var sqlBefehl = \"\";\nsqlBefehl = \"SELECT Zeit FROM StueckZahl WHERE Stueck=4\" ;\nmsg.payload = sqlBefehl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":900,"wires":[["6bfb24ad.96d5cc"]]},{"id":"456f11a2.bdfbf","type":"MSSQL-CN","tdsVersion":"7_4","name":"Umweltdaten","server":"mst-db-server.database.windows.net","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mstUmweltdaten","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"c63f4f6e.24d6f","type":"mqtt-broker","name":"BrokerMarcel","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]